@import "tailwindcss";

:root {
  --background: #0a1624;
  --foreground: #ffffff;
  --primary: #ffc800;
  --secondary: #feecaafe;
  --description: #cfcfcfb2;
  --custom-blue: #010124;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-custom-blue: var(--custom-blue);
  --color-description: var(--description);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply flex flex-col items-center w-screen overflow-x-hidden;
}

@layer utilities {
  .btn {
    @apply active:scale-95 transition-all duration-200 cursor-pointer px-6 py-3;
  }

  .cta-btn {
    @apply bg-linear-90 from-80% from-primary to-secondary rounded-3xl text-background font-semibold;
  }
}
